.anexo.color-acento-contenido
  background-color: $color-acento-contenido
  *
    color: $color-sistema-texto
  &:hover
    *
      color: $color-primario
  .anexo__texto
    color: $color-sistema-texto